@model Ecommerce_MVC_Core.ViewModel.Public.HomePage
@{
    ViewData["Title"] = "Home Page";
}
<!-- SCROLL TOP BUTTON -->
<a class="scrollToTop" href="#"><i class="fa fa-chevron-up"></i></a>
<!-- END SCROLL TOP BUTTON -->
<!-- Start slider -->
<section id="aa-slider">
    <div class="aa-slider-area">
        <div id="sequence" class="seq">
            <div class="seq-screen">
                <ul class="seq-canvas">
                    <!-- single slide item -->
                    <li>
                        <div class="seq-model">
                            <img data-seq src="~/design/img/electronics_item/5.jpg" alt="" />
                        </div>
                        <div class="seq-title">
                            <span data-seq>Save Up to 25% Off</span>
                            <h2 data-seq>MacBook Collection</h2>
                            <!-- <p data-seq>Find the right product has never been easier</p>-->
                            <a data-seq href="~/Home/Product?search=Mac_Laptos" class="aa-shop-now-btn aa-secondary-btn" hreflang="">SHOP NOW</a>
                        </div>
                    </li>
                    <!-- single slide item -->
                    <li>
                        <div class="seq-model">
                            <img data-seq src="~/design/img/electronics_item/6.jpg" alt="" />
                        </div>
                        <div class="seq-title">
                            <span data-seq>Save Up to 10% Off</span>
                            <h2 data-seq>Oven Collection</h2>
                            <!--<p data-seq>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus, illum.</p>-->
                            <a data-seq href="product-detail.html" class="aa-shop-now-btn aa-secondary-btn">SHOP NOW</a>
                        </div>
                    </li>
                    <!-- single slide item -->
                    <li>
                        <div class="seq-model">
                            <img data-seq src="~/design/img/electronics_item/7.jpg" alt="" />
                        </div>
                        <div class="seq-title">
                            <span data-seq>Save Up to 35% Off</span>
                            <h2 data-seq>Phones Collection</h2>
                            <!--<p data-seq>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus, illum.</p>-->
                            <a data-seq href="product-detail.html" class="aa-shop-now-btn aa-secondary-btn">SHOP NOW</a>
                        </div>
                    </li>
                    <!-- single slide item -->
                    <li>
                        <div class="seq-model">
                            <img data-seq src="~/design/img/electronics_item/8.jpg" alt="" />
                        </div>
                        <div class="seq-title">
                            <span data-seq>Save Up to 15% Off</span>
                            <h2 data-seq>iphone Collection</h2>
                            <!--<p data-seq>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus, illum.</p>-->
                            <a data-seq href="#" class="aa-shop-now-btn aa-secondary-btn">SHOP NOW</a>
                        </div>
                    </li>
                    <!-- single slide item -->
                    <li>
                        <div class="seq-model">
                            <img data-seq src="~/design/img/electronics_item/9.jpg" alt="" />
                        </div>
                        <div class="seq-title">
                            <span data-seq>Save Up to 50% Off</span>
                            <h2 data-seq>Best Collection</h2>
                            <!--<p data-seq>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus, illum.</p>-->
                            <a data-seq href="#" class="aa-shop-now-btn aa-secondary-btn">SHOP NOW</a>
                        </div>
                    </li>
                </ul>
            </div>
            <!-- slider navigation btn -->
            <fieldset class="seq-nav" aria-controls="sequence" aria-label="Slider buttons">
                <a type="button" class="seq-prev" aria-label="Previous"><span class="fa fa-angle-left"></span></a>
                <a type="button" class="seq-next" aria-label="Next"><span class="fa fa-angle-right"></span></a>
            </fieldset>
        </div>
    </div>
</section>
<!-- / slider -->
<!-- Start Promo section -->
<section id="aa-promo">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="aa-promo-area">
                    <div class="row">
                        <!-- promo left -->
                        <div class="col-md-5 no-padding">
                            <div class="aa-promo-left">
                                <div class="aa-promo-banner">
                                    <img src="~/design/img/electronics_item/1.jpg" alt="img">
                                    <div class="aa-prom-content">
                                        <span>45% Off</span>
                                        <h4><a href="#">HP Laptop's</a></h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- promo right -->
                        <div class="col-md-7 no-padding">
                            <div class="aa-promo-right">
                                <div class="aa-single-promo-right">
                                    <div class="aa-promo-banner">
                                        <img src="~/design/img/electronics_item/2.jpg" alt="img">
                                        <div class="aa-prom-content">
                                            <span>25% Off</span>
                                            <h4><a href="#">Music Lover's</a></h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="aa-single-promo-right">
                                    <div class="aa-promo-banner">
                                        <img src="~/design/img/electronics_item/3.jpg" alt="img">
                                        <div class="aa-prom-content">
                                            <span>Best Sale</span>
                                            <h4><a href="#">For Developer's</a></h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="aa-single-promo-right">
                                    <div class="aa-promo-banner">
                                        <img src="~/design/img/electronics_item/4.jpg" alt="img">
                                        <div class="aa-prom-content">
                                            <span>Best Sales</span>
                                            <h4><a href="#">For Gamer's</a></h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="aa-single-promo-right">
                                    <div class="aa-promo-banner">
                                        <img src="~/design/img/electronics_item/10.jpg" alt="img">
                                        <div class="aa-prom-content">
                                            <span>25% Off</span>
                                            <h4><a href="#">MI User's</a></h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- / Promo section -->
<!-- Products section -->
<section id="aa-product">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="aa-product-area">
                        <div class="aa-product-inner">
                            <!-- start prduct navigation -->
                            <ul class="nav nav-tabs aa-products-tab">
                                <li class="active"><a href="#men" data-toggle="tab">Laptop's </a></li>
                                <li><a href="#women" data-toggle="tab">Phone's</a></li>
                                <li><a href="#sports" data-toggle="tab">Head-phone's</a></li>
                                <li><a href="#electronics" data-toggle="tab">Other's</a></li>
                            </ul>
                            <!-- Tab panes -->
                            <div class="tab-content">
                                <!-- Start men product category -->
                                <div class="tab-pane fade in active" id="men">
                                    @foreach (var item in Model.Laptops)
                                    {
                                        <div class="col-md-3 product-men">
                                            <div class="men-pro-item simpleCart_shelfItem">
                                                <div class="men-thumb-item">
                                                    <img src="~/uploads/ProductImages/@item.ImagePath" alt="@item.ImageTitle" class="pro-image-front">
                                                    <img src="~/uploads/ProductImages/@item.SecondImagePath" alt="@item.ImageTitle" class="pro-image-back">
                                                    <div class="men-cart-pro">
                                                        <div class="inner-men-cart-pro">
                                                            <a data-toggle="modal" asp-controller="Home" asp-action="QuickViewProduct" asp-route-product="@item.Id" data-target="#modal-popUP" class="link-product-add-cart">Quick View</a>
                                                        </div>
                                                    </div>
                                                    <span class="product-new-top">@item.CategoryName</span>
                                                </div>
                                                <div class="item-info-product ">
                                                    <h4><a asp-controller="Home" asp-action="ProductDetails" asp-route-product="@item.Id">@item.Name</a></h4>
                                                    <div class="info-product-price">
                                                        <span class="item_price"><span class="fa fa-inr"></span>@item.FinalPrice</span>
                                                        <del><span class="fa fa-inr"></span>@item.Price</del>
                                                        <i>@item.Discount% off</i>
                                                    </div>
                                                    <a data-toggle="modal" asp-controller="Home" asp-action="AddToCart" asp-route-product="@item.Id" data-target="#modal-popUP" class="btn btn-primary">Add to Cart</a>

                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                                <!-- / men product category -->
                                <!-- start women product category -->
                                <div class="tab-pane fade" id="women">
                                    @foreach (var item in Model.Phones)
                                    {
                                        <div class="col-md-3 product-men">
                                            <div class="men-pro-item simpleCart_shelfItem">
                                                <div class="men-thumb-item">
                                                    <img src="~/uploads/ProductImages/@item.ImagePath" alt="@item.ImageTitle" class="pro-image-front">
                                                    <img src="~/uploads/ProductImages/@item.SecondImagePath" alt="@item.ImageTitle" class="pro-image-back">
                                                    <div class="men-cart-pro">
                                                        <div class="inner-men-cart-pro">
                                                            <a data-toggle="modal" asp-controller="Home" asp-action="QuickViewProduct" asp-route-product="@item.Id" data-target="#modal-popUP" class="link-product-add-cart">Quick View</a>
                                                        </div>
                                                    </div>
                                                    <span class="product-new-top">@item.CategoryName</span>
                                                </div>
                                                <div class="item-info-product ">
                                                    <h4><a asp-controller="Home" asp-action="ProductDetails" asp-route-product="@item.Id">@item.Name</a></h4>
                                                    <div class="info-product-price">
                                                        <span class="item_price"><span class="fa fa-inr"></span>@item.FinalPrice </span>
                                                        <del><span class="fa fa-inr"></span>@item.Price</del>
                                                        <i>@item.Discount% off</i>
                                                    </div>
                                                    <a data-toggle="modal" asp-controller="Home" asp-action="AddToCart" asp-route-product="@item.Id" data-target="#modal-popUP" class="btn btn-primary">Add to Cart</a>

                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                                <!-- / women product category -->
                                <!-- start sports product category -->
                                <div class="tab-pane fade" id="sports">
                                    @foreach (var item in Model.Head_phones)
                                    {
                                        <div class="col-md-3 product-men">
                                            <div class="men-pro-item simpleCart_shelfItem">
                                                <div class="men-thumb-item">
                                                    <img src="~/uploads/ProductImages/@item.ImagePath" alt="@item.ImageTitle" class="pro-image-front">
                                                    <img src="~/uploads/ProductImages/@item.SecondImagePath" alt="@item.ImageTitle" class="pro-image-back">
                                                    <div class="men-cart-pro">
                                                        <div class="inner-men-cart-pro">
                                                            <a data-toggle="modal" asp-controller="Home" asp-action="QuickViewProduct" asp-route-product="@item.Id" data-target="#modal-popUP" class="link-product-add-cart">Quick View</a>
                                                        </div>
                                                    </div>
                                                    <span class="product-new-top">@item.CategoryName</span>
                                                </div>
                                                <div class="item-info-product ">
                                                    <h4><a asp-controller="Home" asp-action="ProductDetails" asp-route-product="@item.Id">@item.Name</a></h4>
                                                    <div class="info-product-price">
                                                        <span class="item_price"><span class="fa fa-inr"></span>@item.FinalPrice</span>
                                                        <del><span class="fa fa-inr"></span>@item.Price</del>
                                                        <i>@item.Discount% off</i>
                                                    </div>
                                                    <a data-toggle="modal" asp-controller="Home" asp-action="AddToCart" asp-route-product="@item.Id" data-target="#modal-popUP" class="btn btn-primary">Add to Cart</a>

                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                                <!-- / sports product category -->
                                <!-- start electronic product category -->
                                <div class="tab-pane fade" id="electronics">
                                    @foreach (var item in Model.other)
                                    {
                                        <div class="col-md-3 product-men">
                                            <div class="men-pro-item simpleCart_shelfItem">
                                                <div class="men-thumb-item">
                                                    <img src="~/uploads/ProductImages/@item.ImagePath" alt="@item.ImageTitle" class="pro-image-front">
                                                    <img src="~/uploads/ProductImages/@item.SecondImagePath" alt="@item.ImageTitle" class="pro-image-back">
                                                    <div class="men-cart-pro">
                                                        <div class="inner-men-cart-pro">
                                                            <a data-toggle="modal" asp-controller="Home" asp-action="QuickViewProduct" asp-route-product="@item.Id" data-target="#modal-popUP" class="link-product-add-cart">Quick View</a>
                                                        </div>
                                                    </div>
                                                    <span class="product-new-top">@item.CategoryName</span>
                                                </div>
                                                <div class="item-info-product ">
                                                    <h4><a asp-controller="Home" asp-action="ProductDetails" asp-route-product="@item.Id">@item.Name</a></h4>
                                                    <div class="info-product-price">
                                                        <span class="item_price"><span class="fa fa-inr"></span>@item.FinalPrice </span>
                                                        <del><span class="fa fa-inr"></span>@item.Price</del>
                                                        <i>@item.Discount% off</i>
                                                    </div>
                                                    <a data-toggle="modal" asp-controller="Home" asp-action="AddToCart" asp-route-product="@item.Id" data-target="#modal-popUP" class="btn btn-primary">Add to Cart</a>

                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                                <!-- / electronic product category -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- / Products section -->


<script src="~/js/brandcrsole.js"></script>
<link href="~/css/public/brandCursole.css" rel="stylesheet" />

<div class="t"></div>
<!-- banner section -->
<div class="clearfix"></div>
<section id="aa-banner" style="
    padding-top: 100px;
    padding-bottom: 100px;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="aa-banner-area">
                        <a href="#"><img src="~/design/img/electronics_item/11.jpg" alt="fashion banner img"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- popular section -->
<!-- Support section -->
<section id="aa-support">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="aa-support-area">
                    <!-- single support -->
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="aa-support-single">
                            <span class="fa fa-truck"></span>
                            <h4>FREE SHIPPING</h4>
                            <P>According to the Terms and Conditions</P>
                        </div>
                    </div>
                    <!-- single support -->
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="aa-support-single">
                            <span class="fa fa-clock-o"></span>
                            <h4>10day Replacement</h4>
                            <P>Whit in 10 day's you can replacement tyour product</P>
                        </div>
                    </div>
                    <!-- single support -->
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="aa-support-single">
                            <span class="fa fa-phone"></span>
                            <h4>SUPPORT 24/7</h4>
                            <P>You will get 24/7 coustomer support</P>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- / Support section -->
<!-- Testimonial -->
<section id="aa-testimonial">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="aa-testimonial-area">
                    <ul class="aa-testimonial-slider">
                        <!-- single slide -->
                        <li>
                            <div class="aa-testimonial-single">
                                <img class="aa-testimonial-img" src="~/design/img/pics/me1.jpg" alt="testimonial img">
                                <span class="fa fa-quote-left aa-testimonial-quote"></span>
                                <p style="font-size: 30px">Be passionate to achive Your dreams.</p>
                                <div class="aa-testimonial-info">
                                    <p>Shaik Mudassir</p>
                                    <span>Designer/Developer</span>
                                    <!--<a href="#">Dribble.com</a>-->
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
@*All Category*@
<div class="container" style="padding-top:50px;padding-bottom:50px;">
    <h3 class="wthree_text_info">Hard to find your choice <span>Down Here</span></h3>
    @{
        @Html.Partial("_SubCategory", Model.Categories)

    }
</div>

<!-- / Testimonial -->
<!-- Client Brand -->
<section id="aa-client-brand">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="aa-client-brand-area">
                    <ul class=" customer-logos slider">
                        <li><a href="#"><img src="~/design/img/logo/apple.jpg" alt="Apple img" style="height: 60px"></a></li>
                        <li><a href="#"><img src="~/design/img/logo/Dell.png" alt="Dell img" style="height: 60px"></a></li>
                        <li><a href="#"><img src="~/design/img/logo/hp.png" alt="hp img" style="height: 60px"></a></li>
                        <li><a href="#"><img src="~/design/img/logo/lg.jpg" alt="LG img" style="height: 60px"></a></li>
                        <li><a href="#"><img src="~/design/img/logo/oppo.png" alt="oppo img" style="height: 60px"></a></li>
                        <li><a href="#"><img src="~/design/img/logo/mi.png" alt="MI img" style="height: 60px"></a></li>
                        <li><a href="#"><img src="~/design/img/logo/vivo.png" alt="vivo img" style="height: 60px"></a></li>
                        <li><a href="#"><img src="~/design/img/logo/jbl.png" alt="JBL img" style="height: 60px"></a></li>
                        <li><a href="#"><img src="~/design/img/logo/sony.png" alt="Sony img" style="height: 60px"></a></li>
                        <li><a href="#"><img src="~/design/img/logo/prestige.png" alt="prestige img" style="height: 60px"></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- / Client Brand -->
<div class="" style="padding-top:50px;padding-bottom:50px;">
    <h3 class="wthree_text_info">Available <span>Brands</span></h3>

    <section class="customer-logos slider">
        @foreach (var item in Model.BrandList)
        {

            <div class="col-md-4">

                <a asp-action="Product" asp-controller="Home" asp-route-Brand="@item.Id">
                    <!-- Split button -->
                    <span style="font-size: 18px;text-align: center" class="list-group-item list-group-item-success ">@item.Name</span>
                </a>
            </div>
        }
    </section>
</div>
<!--grids-->
@Html.Partial("_Modal", new BootstrapModel { ID = "modal-popUP", AreaLabeledId = "modal-popUP-label", Size = ModalSize.Medium })